<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmark Log</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">


  <h4>You are logged in as {{ request.user }}</h4>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a> /
    <a href="{% url 'bookmark_create_view' %}">Add Bookmark</a> /
    {% else %}
    <a href="{% url 'login' %}">Login</a> /
    <a href="{% url 'user_create_view' %}">Create User</a> /
    {% endif %}
    <a href="{% url 'profile_list_view' %}">Users</a>

{% block content %}
{% endblock %}
</div>

  </body>
</html>
